.responsive-box{
    background-color: red;
    width: 100%;
    padding: 20px;
    text-align: center;
}

@media(min-width: 768px){
    .responsive-box{
        background-color: blue;
        width: 50%;
    }
}

@media(min-width: 1024px){
    .responsive-box{
        background-color: green;
        width: 25%;
    }
}